<div class="max-w-5xl mx-auto">
    <h1 class="text-3xl text-white font-bold mb-6">Card Deck</h1>

    <!-- Add Card Button -->
    <button
      class="bg-white text-green-800 font-semibold px-6 py-2 rounded shadow mb-6 hover:bg-gray-100"
      hx-get="/new-card"
      hx-target="#card-deck"
      hx-swap="beforeend"
    >
      Draw Card
    </button>

    <!-- Deck Display -->
    <div id="card-deck" class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 gap-4">
      <!-- Cards will appear here -->
        {{ template "new-card.html" .}}
    </div>
</div>